version: "3.8"

services:
  postgres:
    image: postgres:18
    container_name: postgres-db
    environment:
      POSTGRES_DB: wallet
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: medicalbabaji-ums
    ports:
      - "8383:8383"
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/wallet
      DB_USER: postgres
      DB_PASS: root
      SERVER_PORT: 8383
    depends_on:
      - postgres

volumes:
  pgdata:
